<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nodes</key>
	<dict>
        
        <key>Blur</key>
        <dict>
            <key>CIBoxBlur</key>
            <dict>
                <key>filter_name</key>
                <string>CIBoxBlur</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.5</string>
                </dict>
            </dict>
            <key>CIDiscBlur</key>
            <dict>
                <key>filter_name</key>
                <string>CIDiscBlur</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.5</string>
                </dict>
            </dict>
            <key>CIGaussianBlur</key>
            <dict>
                <key>filter_name</key>
                <string>CIGaussianBlur</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.4</string>
                    <key>IOS</key>
                    <string>6.0</string>
                </dict>
            </dict>
            <key>CIMedianFilter</key>
            <dict>
                <key>filter_name</key>
                <string>CIMedianFilter</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.4</string>
                </dict>
            </dict>
            <key>CIMotionBlur</key>
            <dict>
                <key>filter_name</key>
                <string>CIMotionBlur</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.4</string>
                </dict>
            </dict>
            <key>CINoiseReduction</key>
            <dict>
                <key>filter_name</key>
                <string>CINoiseReduction</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.4</string>
                </dict>
            </dict>
            <key>CIZoomBlur</key>
            <dict>
                <key>filter_name</key>
                <string>CIZoomBlur</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.4</string>
                </dict>
            </dict>
        </dict>
        
        
        
        
        
        <key>Colour Adjustment</key>
        <dict>
            <key>CIColorClamp</key>
            <dict>
                <key>filter_name</key>
                <string>CIColorClamp</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.9</string>
                    <key>IOS</key>
                    <string>6.0</string>
                </dict>
            </dict>
            
            <key>CIColorControls</key>
            <dict>
                <key>filter_name</key>
                <string>CIColorControls</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.4</string>
                    <key>IOS</key>
                    <string>5.0</string>
                </dict>
            </dict>
            
            <key>CIColorMatrix</key>
            <dict>
                <key>filter_name</key>
                <string>CIColorMatrix</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.4</string>
                    <key>IOS</key>
                    <string>5.0</string>
                </dict>
            </dict>
            
            <key>CIColorPolynomial</key>
            <dict>
                <key>filter_name</key>
                <string>CIColorPolynomial</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.9</string>
                    <key>IOS</key>
                    <string>7.0</string>
                </dict>
            </dict>
            
            <key>CIExposureAdjust</key>
            <dict>
                <key>filter_name</key>
                <string>CIExposureAdjust</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.4</string>
                    <key>IOS</key>
                    <string>5.0</string>
                </dict>
            </dict>
            
            <key>CIGammaAdjust</key>
            <dict>
                <key>filter_name</key>
                <string>CIGammaAdjust</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.4</string>
                    <key>IOS</key>
                    <string>5.0</string>
                </dict>
            </dict>
            
            <key>CIHueAdjust</key>
            <dict>
                <key>filter_name</key>
                <string>CIHueAdjust</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.4</string>
                    <key>IOS</key>
                    <string>5.0</string>
                </dict>
            </dict>
            
            <key>CILinearToSRGBToneCurve</key>
            <dict>
                <key>filter_name</key>
                <string>CILinearToSRGBToneCurve</string>
                <key>available</key>
                <dict>
                    <key>IOS</key>
                    <string>7.0</string>
                </dict>
            </dict>
            
            <key>CISRGBToneCurveToLinear</key>
            <dict>
                <key>filter_name</key>
                <string>CISRGBToneCurveToLinear</string>
                <key>available</key>
                <dict>
                    <key>IOS</key>
                    <string>7.0</string>
                </dict>
            </dict>
            
            <key>CITemperatureAndTint</key>
            <dict>
                <key>filter_name</key>
                <string>CITemperatureAndTint</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.7</string>
                    <key>IOS</key>
                    <string>5.0</string>
                </dict>
            </dict>
            
            <key>CIToneCurve</key>
            <dict>
                <key>filter_name</key>
                <string>CIToneCurve</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.7</string>
                    <key>IOS</key>
                    <string>5.0</string>
                </dict>
            </dict>
            
            <key>CIVibrance</key>
            <dict>
                <key>filter_name</key>
                <string>CIVibrance</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.7</string>
                    <key>IOS</key>
                    <string>5.0</string>
                </dict>
            </dict>
            
            <key>CIWhitePointAdjust</key>
            <dict>
                <key>filter_name</key>
                <string>CIWhitePointAdjust</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.4</string>
                    <key>IOS</key>
                    <string>5.0</string>
                </dict>
            </dict>
            
            
        </dict>
        
        
        
        
        <key>Colour Effect</key>
        <dict>
            
            <key>CIColorCrossPolynomial</key>
            <dict>
                <key>filter_name</key>
                <string>CIColorCrossPolynomial</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.9</string>
                    <key>IOS</key>
                    <string>7.0</string>
                </dict>
            </dict>
            
            <key>CIColorCube</key>
            <dict>
                <key>filter_name</key>
                <string>CIColorCube</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.4</string>
                    <key>IOS</key>
                    <string>6.0</string>
                </dict>
            </dict>
            
            <key>CIColorCubeWithColorSpace</key>
            <dict>
                <key>filter_name</key>
                <string>CIColorCubeWithColorSpace</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.9</string>
                    <key>IOS</key>
                    <string>7.0</string>
                </dict>
            </dict>
            
            <key>CIColorInvert</key>
            <dict>
                <key>filter_name</key>
                <string>CIColorInvert</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.4</string>
                    <key>IOS</key>
                    <string>6.0</string>
                </dict>
            </dict>
            

            <key>CIColorMap</key>
            <dict>
                <key>filter_name</key>
                <string>CIColorMap</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.4</string>
                    <key>IOS</key>
                    <string>6.0</string>
                </dict>
            </dict>
            
            <key>CIColorMonochrome</key>
            <dict>
                <key>filter_name</key>
                <string>CIColorMonochrome</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.4</string>
                    <key>IOS</key>
                    <string>6.0</string>
                </dict>
            </dict>
            
            <key>CIColorPosterize</key>
            <dict>
                <key>filter_name</key>
                <string>CIColorPosterize</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.4</string>
                    <key>IOS</key>
                    <string>6.0</string>
                </dict>
            </dict>
            
            <key>CIFalseColor</key>
            <dict>
                <key>filter_name</key>
                <string>CIFalseColor</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.4</string>
                    <key>IOS</key>
                    <string>6.0</string>
                </dict>
            </dict>
            
            <key>CIMaskToAlpha</key>
            <dict>
                <key>filter_name</key>
                <string>CIMaskToAlpha</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.4</string>
                    <key>IOS</key>
                    <string>6.0</string>
                </dict>
            </dict>
            
            <key>CIMaximumComponent</key>
            <dict>
                <key>filter_name</key>
                <string>CIMaximumComponent</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.5</string>
                    <key>IOS</key>
                    <string>6.0</string>
                </dict>
            </dict>
            
            <key>CIMinimumComponent</key>
            <dict>
                <key>filter_name</key>
                <string>CIMinimumComponent</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.5</string>
                    <key>IOS</key>
                    <string>6.0</string>
                </dict>
            </dict>
            
            <key>CIPhotoEffectChrome</key>
            <dict>
                <key>filter_name</key>
                <string>CIPhotoEffectChrome</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.9</string>
                    <key>IOS</key>
                    <string>7.0</string>
                </dict>
            </dict>
            
            <key>CIPhotoEffectFade</key>
            <dict>
                <key>filter_name</key>
                <string>CIPhotoEffectFade</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.9</string>
                    <key>IOS</key>
                    <string>7.0</string>
                </dict>
            </dict>
            
            <key>CIPhotoEffectInstant</key>
            <dict>
                <key>filter_name</key>
                <string>CIPhotoEffectInstant</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.9</string>
                    <key>IOS</key>
                    <string>7.0</string>
                </dict>
            </dict>
            
            <key>CIPhotoEffectMono</key>
            <dict>
                <key>filter_name</key>
                <string>CIPhotoEffectMono</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.9</string>
                    <key>IOS</key>
                    <string>7.0</string>
                </dict>
            </dict>
            
            <key>CIPhotoEffectNoir</key>
            <dict>
                <key>filter_name</key>
                <string>CIPhotoEffectNoir</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.9</string>
                    <key>IOS</key>
                    <string>7.0</string>
                </dict>
            </dict>
            
            <key>CIPhotoEffectProcess</key>
            <dict>
                <key>filter_name</key>
                <string>CIPhotoEffectProcess</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.9</string>
                    <key>IOS</key>
                    <string>7.0</string>
                </dict>
            </dict>
            
            <key>CIPhotoEffectTonal</key>
            <dict>
                <key>filter_name</key>
                <string>CIPhotoEffectTonal</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.9</string>
                    <key>IOS</key>
                    <string>7.0</string>
                </dict>
            </dict>
            
            <key>CIPhotoEffectTransfer</key>
            <dict>
                <key>filter_name</key>
                <string>CIPhotoEffectTransfer</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.9</string>
                    <key>IOS</key>
                    <string>7.0</string>
                </dict>
            </dict>
            
            <key>CISepiaTone</key>
            <dict>
                <key>filter_name</key>
                <string>CISepiaTone</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.4</string>
                    <key>IOS</key>
                    <string>5.0</string>
                </dict>
            </dict>
            
            <key>CIVignette</key>
            <dict>
                <key>filter_name</key>
                <string>CIVignette</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.9</string>
                    <key>IOS</key>
                    <string>5.0</string>
                </dict>
            </dict>
            
            <key>CIVignetteEffect</key>
            <dict>
                <key>filter_name</key>
                <string>CIVignetteEffect</string>
                <key>available</key>
                <dict>
                    <key>OSX</key>
                    <string>10.9</string>
                    <key>IOS</key>
                    <string>7.0</string>
                </dict>
            </dict>

        </dict>
        
        
        
        <key>Empty</key>
        <dict>
        </dict>
        
		
	</dict>
	<key>meta</key>
	<dict>
		<key>display_name</key>
		<string>CIFilter Effects</string>
	</dict>
</dict>
</plist>
